.react-select__control {
  border: none;
  box-shadow: none !important;
}

.react-select__control:focus {
  border: none;
  box-shadow: none !important;
}

.react-select__input {
  outline: none;
  box-shadow: none;
}

.react-select__input:focus {
  outline: none;
  box-shadow: none;
}

.input-tag {
  background-color: transparent;
  /* border: 1px solid #d6d6d6; */
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0px 0;
}

.input-tag input {
  border: none;
  width: fit-content;
  width: auto;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  width: 100%;
}

.input-tag input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}

.input-tag__tags {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.input-tag__tags li {
  align-items: center;
  border-radius: 0.5rem;
  color: black;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 0px;
  margin-left: 5px;
  padding: 0px 5px 0px 10px;
  max-width: 100%;
  min-width: 0;
  font-size: 0.8rem;
  height: 30px;
}
.input-tag__tags li:first-child {
  margin-left: 0;
}

.input-tag__label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-tag__tags li button {
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-size: 20px;
  height: 15px;
  justify-content: center;
  line-height: 0;
  margin-left: 8px;
  margin-right: -4px;
  padding: 0;
  transform: rotate(45deg);
  width: 15px;
}

.input-tag__tags li.input-tag__tags__input {
  background: none;
  flex-grow: 1;
  padding: 0;
  box-shadow: none;
  border: none;
  outline: none;
}
