.history-section {
    overflow: visible!important;
}

.history-section::before {
    content: "";
    background-color: #525659;
    position: absolute;
    width: 3px;
    height: calc(100% + 15px);
    left: -23.5px;
    top: 24px;
    z-index: -1;

    // <div className="flex-1 w-0.5 bg-black dark:bg-zinc-600 absolute top-0 bottom-0 left-[-3px] z-50" />
}

.preview.history-section::before {
    content: "";
    background-color: #525659;
    position: absolute;
    width: 2px;
    height: calc(100% + 15px);
    left: -21px;
    top: 24px;
    z-index: -1;

    // <div className="flex-1 w-0.5 bg-black dark:bg-zinc-600 absolute top-0 bottom-0 left-[-3px] z-50" />
}
div:last-child > .history-section::before {
    display: none;
}