.react-pdf__Document {
  line-height: 1em;
}
.annotation-page {
  z-index: 100;
    background-color: rgba(255,0,0,0.5);
    position: relative;
  pointer-events: none;
  .annotating & {
    display: block;
    z-index: 4;
    cursor: crosshair;
    pointer-events: all;
  }
}

.annotation-display {
    z-index: 3;
}

.react-pdf__Page__annotations {
  z-index: 0;
  position: absolute;
  top: 0;
  // height: 1034px;
  // position: absolute;
}

.annotation-display {
    pointer-events: none;
    z-index: 0;
    .annotating & {
        pointer-events: all;
    }
}
.annotation-bubble {
  background-color: rgba(113, 208, 249, 0.24);
  border: none;
}

.react-pdf__Page__annotations.annotationLayer {
  .linkAnnotation {
    border-color: transparent !important;
  }

  .linkAnnotation > a:hover, .buttonWidgetAnnotation.pushButton > a:hover {
    background-color: rgba(113, 208, 249, 0.8);
    border: 0;
    box-shadow: none;
  }
}

.react-pdf__Page__textContent span,
.react-pdf__Page__textContent br {
  color: transparent;
  // line-height: 1em !important;
  // height: 0rem !important;
  white-space: pre;
  transform-origin: 0% 0%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  transform: '';
  // overflow: hidden
}

.react-pdf__Page__textContent {
  opacity: 0.2;

  ::selection {
    background: rgba(0, 80, 250, 1);
  }
}